<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2><%= the_title %></h2>
    <%= bootstrap_form_for(@post,
      html: {class: "new_blog_post blogit_admin_form", id: "new_blog_post"}) do |f| %>

      <%= f.text_field :title,
            label:       t(:post_title, scope: "blogit.admin.posts"),
            placeholder: t(:give_your_post_a_title, scope: 'blogit.admin.posts') %>

      <%= f.text_area :description,
            label:       t(:post_description, scope: "blogit.admin.posts"),
            placeholder: t(:write_a_brief_overview_of_your_post, scope: 'blogit.admin.posts'),
            rows: "6"  %>

      <%= f.text_area :body,
            label:       t(:post_body, scope: 'blogit.admin.posts'),
            placeholder: t(:write_something_here, scope: 'blogit.admin.posts'),
            rows: "18"  %>

      <%= f.text_field :tag_list,
            label:       t(:tags, scope: 'blogit.admin.posts'),
            id:          "new_blog_post_tag_field",
            value:       f.object.tags.join(", "),
            placeholder: t(:tag_placeholder, scope: 'blogit.admin.posts')  %>

      <%= f.collection_select(:state, blogit_conf.active_states + blogit_conf.hidden_states, :to_s, :to_s) %>

      <%= actions do %>
        <%= f.submit %> <%=t :or, scope: 'blogit.admin.posts'%>

        <%= link_to(t(:cancel, scope: 'blogit.admin.posts'),
            @post.new_record? ? blogit_admin.root_path : post_path(@post)) %>
      <% end %>


    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>

